.component {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 50px;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;

  @media screen and (max-width: 590px){
    margin-bottom: 0px;
  }
}
